<div class="jumbotron" id="jumbo">
    <h3 id="newsTitle">
        <%= @news.title %>
    </h3>
    <div class="newsContent">
        <%= @news.content %>
    </div>

        <div >
            <%= link_to gravatar_for(@news.user, size: 25), @news.user %>
            <%= link_to @news.user.name, @news.user %>
            <%= @news.created_at.strftime( "Opublikowano  %d.%m.%Y" ) %>
            <% if  logged_in? &&( current_user?(@news.user) || current_user.admin?)  %>
                <br/><%= link_to "Usuń", @news, method: :delete, data: { confirm: "Jesteś pewny?" } %> |
                <%= link_to "Edytuj", edit_news_path(@news) %> 
            <% end %>
        </div>
        <h3>Komentarze:</h3>
         <% if  logged_in? %>
        <%= form_for(@newComment) do |f| %>
        <%= f.text_field :content, class: 'form-control', placeholder:"Dodaj komentarz..." %>
        <%= f.hidden_field :news_id, class: 'form-control' %>
        <%= f.submit "Dodaj", class: "btn btn-primary" %>
        <% end %>
        <% end %>
        <ul class="commentsList">
            <%= render @coments %>
        </ul>
    </div>